menu "Nucleus"

config RTAI_OPT_FUSION
	bool "Real-time support in user-space"
	default y
	help

	Enable all real-time features for user-space Linux
	processes, which is the default operating mode for
	RTAI/fusion. Switching this option out only leaves the
	minimal support needed for running in-kernel
	applications, which directly call the real-time APIs from
	kernel modules.

config RTAI_OPT_PIPE
	bool "Message pipes"
	default y
	help

	Message pipes are bi-directional FIFO communication
	channels allowing data exchange between real-time kernel
	threads and regular user-space processes. Pipes natively
	preserve message boundaries, but can also be used in byte
	streaming mode from kernel to user-space.

config RTAI_OPT_PIPE_NRDEV
	string "Number of pipe devices"
	depends on RTAI_OPT_PIPE
	default 32
	help
	
	This option sets the maximum number of pipe devices supported
	in the system. Pipe devices are named /dev/rtpN where N is a
	device minor number ranging from 0 to RTAI_OPT_PIPE_NRDEV - 1.

config RTAI_OPT_SYS_HEAPSZ
	string "Size of the system heap (Kb)"
	default 128
	help

	The system heap is used for various internal allocations by
	the nucleus and the real-time skins. The size is expressed in
	Kilobytes.

config RTAI_OPT_ISHIELD
	bool "Interrupt shield support"
	depends on RTAI_OPT_EXPERT && RTAI_OPT_FUSION
	default y
	help
	
	This option builds in the interrupt shield support, which can
	be further enabled on a thread-by-thread basis. When enabled
	for a thread, the interrupt shield prevents it from being
	preempted by Linux interrupt handlers when it executes in the
	secondary domain (i.e. under the control of the Linux
	scheduler), thus increasing the execution time accuracy for
	CPU-bound tasks. Note: this option has no additional effect on
	threads running in the primary RTAI domain, for which
	preemption by any kind of Linux kernel activities is already
	prevented by design.

config RTAI_OPT_STATS
	bool "Statistics collection"
	depends on RTAI_OPT_EXPERT
	default y
	help
	
	This option causes the real-time nucleus to collect various
	per-thread runtime statistics, which are accessible through
	the /proc/rtai/stats interface.

config RTAI_OPT_DEBUG
	bool "Debug support"
	depends on RTAI_OPT_EXPERT
	default n
	help
	
	This option activates various debugging checks inside the core
	system. Doing so adds a significant runtime overhead,
	worsening the latency figures especially on SMP kernels.
	Do not switch this option on unless you really know what you
	are doing.

config RTAI_OPT_WATCHDOG
	bool "Watchdog support"
	depends on RTAI_OPT_EXPERT
	default n
	help
	
	This option activates a watchdog aimed at detecting runaway
	real-time threads. If enabled, the watchdog triggers after 4
	seconds of uninterrupted real-time activity without Linux
	interaction; in such event, the current real-time thread is
	forcibly suspended. The built-in watchdog support operates on
	behalf of the timer tick handler, thus is only active after
	the timer has been started.

menu "Scalability"
	depends on RTAI_OPT_EXPERT

config RTAI_OPT_SCALABLE_SCHED
	bool "O(1) scheduler"
	default n
	help
	
	This option causes a multi-level priority queue to be
	used in the real-time thread scheduler, so that it operates
	in constant-time regardless of the number of _concurrently
	runnable_ threads (which might be much lower than the total
	number of active threads). Its use is recommended for
	large multi-threaded systems involving more than 10 of such
	threads; otherwise, the default linear method usually performs
	better with lower memory footprints.

config RTAI_OPT_SCALABLE_PRIOS
	string "Number of priority levels"
	depends on RTAI_OPT_SCALABLE_SCHED
	default 256
	help

	This option sets the maximum number of priority levels available
	within the scalable scheduler's multi-level queue. This value
	must be higher or equal than the maximum priority range which
	could be required for running the real-time skin used by the
	application. For instance, the native RTAI skin needs a
	hundred priority levels.

endmenu

menu "LTT tracepoints filtering"
	depends on RTAI_OPT_EXPERT

config RTAI_OPT_FILTER_EVIRQ
	bool "Disable IRQ-related tracepoints"
	default y if RTAI_OPT_FILTER_EVALL=y
	help
	
	When LTT support is active, this option disables tracepoints
	inside real-time interrupt handlers.

config RTAI_OPT_FILTER_EVTHR
	bool "Disable thread-related tracepoints"
	default y if RTAI_OPT_FILTER_EVALL=y
	help
	
	When LTT support is active, this option disables tracepoints
	inside most thread-related services.

config RTAI_OPT_FILTER_EVSYS
	bool "Disable syscall-related tracepoints"
	default y if RTAI_OPT_FILTER_EVALL=y
	help
	
	When LTT support is active, this option disables tracepoints
	inside the shadow syscall dispatcher.

config RTAI_OPT_FILTER_EVALL
	bool "Disable all tracepoints"
	default n
	help
	
	This option disables all LTT tracepoints inside RTAI/fusion.

endmenu

endmenu
