menu "Nucleus"

config RTAI_OPT_FUSION
	bool "Real-time support in user-space"
	default y
	help

	Enable all real-time features for user-space Linux
	processes, which is the default operating mode for
	RTAI/fusion. Switching this option out only leaves the
	minimal support needed for running in-kernel
	applications, which directly call the real-time APIs from
	kernel modules.

config RTAI_OPT_PIPE
	bool "Message pipes"
	default y
	help

	Message pipes are bi-directional FIFO communication
	channels allowing data exchange between real-time kernel
	threads and regular user-space processes. Pipes natively
	preserve message boundaries, but can also be used in byte
	stream mode from kernel to user space.

config RTAI_OPT_PIPE_NRDEV
	string "Number of pipe devices"
	depends on RTAI_OPT_PIPE
	default 32
	help
	
	This option sets the maximum number of pipe devices supported
	in the system. Pipe devices are named /dev/rtpN where N is a
	device minor number ranging from 0 to RTAI_OPT_PIPE_NRDEV - 1.

config RTAI_OPT_EXPERT_PERCPU_TIMER
        bool "Per-cpu timers list"
	depends on RTAI_OPT_EXPERT
        default y
        help

        This option make the nucleus timer module use one timers list
        by CPU, this reduces the need for inter-cpu communication and 
        should significantly reduce the scheduling latency on other CPUs
        than the first one. Changing this option has no effect on UP 
        machines.

config RTAI_OPT_PERCPU_TIMER
        bool
        depends on !RTAI_OPT_EXPERT || RTAI_OPT_EXPERT_PERCPU_TIMER
        default y

config RTAI_OPT_DEBUG
	bool "Debug support"
	depends on RTAI_OPT_EXPERT
	default n
	help
	
	This option activates runtime checking of the real-time
	nucleus state.

config RTAI_OPT_WATCHDOG
	bool "Watchdog support"
	depends on RTAI_OPT_EXPERT
	default n
	help
	
	This option activates a watchdog aimed at detecting runaway
	real-time threads. If enabled, the watchdog triggers after 4
	seconds of uninterrupted real-time activity without Linux
	interaction; in such event, the current real-time thread is
	forcibly suspended. The built-in watchdog support operates on
	bahalf of the timer tick handler, thus is only active after
	the timer has been started.

menu "LTT tracepoints filtering"

config RTAI_OPT_FILTER_EVIRQ
	bool "Disable IRQ-related tracepoints"
	depends on RTAI_OPT_EXPERT
	default y if RTAI_OPT_FILTER_EVALL=y
	help
	
	When LTT support is active, this option disables tracepoints
	inside real-time interrupt handlers.

config RTAI_OPT_FILTER_EVTHR
	bool "Disable thread-related tracepoints"
	depends on RTAI_OPT_EXPERT
	default y if RTAI_OPT_FILTER_EVALL=y
	help
	
	When LTT support is active, this option disables tracepoints
	inside most thread-related services.

config RTAI_OPT_FILTER_EVSYS
	bool "Disable syscall-related tracepoints"
	depends on RTAI_OPT_EXPERT
	default y if RTAI_OPT_FILTER_EVALL=y
	help
	
	When LTT support is active, this option disables tracepoints
	inside the shadow syscall dispatcher.

config RTAI_OPT_FILTER_EVALL
	bool "Disable all tracepoints"
	depends on RTAI_OPT_EXPERT
	default y if RTAI_OPT_FILTER_EVALL=y
	help
	
	This option disables all LTT tracepoints inside RTAI/fusion.

endmenu

endmenu
