mainmenu "RTAI/x86 configuration"

source Kconfig

source "nucleus/Kconfig"

menu "Machine (x86)"

config RTAI_HW_FPU
	bool "Enable FPU support"
	default y
	help
	The FPU executes instructions from the processor's normal
	instruction stream. It can handle the types of high-precision
	floating-point processing operations commonly found in
	scientific, engineering, and business applications.  Enabling
	FPU support on a platform providing this hardware component
	may greatly improve performances.  You can obtain more
	information about Float-Point Unit on i386 platform on
	internet at the following URL:
	http://www.intel.com/design/intarch/techinfo/Pentium/fpu.htm

config RTAI_HW_APERIODIC_TIMER
	bool "Enable aperiodic timer support"
	default y
	help
	The nucleus can handle aperiodic timers that can be
	programmed in one-shot mode on this architecture. In this
	mode, timing accuracy is higher - since it is not rounded to a
	constant time slice - at the expense of a lesser efficicency
	when many timers are simultaneously active. The aperiodic mode
	gives better results in configuration involving a few threads
	requesting timing services over different time scales that
	cannot be easily expressed as multiples of a single base tick,
	or would lead to a waste of high frequency periodical
	ticks. You can disable this support for this architecture to
	save a few hundreds bytes if you plan to use the system timer
	in periodic mode only.

config RTAI_HW_TIMER_LATENCY
	depends on RTAI_OPT_EXPERT
	string "Timer tuning latency (ns)"
	default 0
	help
	This parameter accounts for the time (in nanoseconds) needed
	to program the underlying time source in one-shot timing mode.
	This value will be used to reduce the scheduling jitter induced
	by the time needed to setup the timer for its next shot. A
	default value of 0 (recommended) will cause this value to be
	estimated by the nucleus at startup.
	Depending on whether CONFIG_X86_LOCAL_APIC is enabled or not
	in the kernel configuration RTAI is compiled
	against, CONFIG_RTAI_HW_TIMER_LATENCY will either refer to the
	local APIC or 8254 timer latency value.

config RTAI_HW_SCHED_LATENCY
	depends on RTAI_OPT_EXPERT
	string "Scheduling latency (ns)"
	default 0
	help
	Scheduling latency is the time between the termination of an
	interrupt handler and the execution of the first instruction
	of the real-time thread this handler resumes. A
	default value of 0 (recommended) will cause this value to be
	estimated by the nucleus at startup.

endmenu

source "skins/Kconfig"

menu "Drivers"

config RTAI_DRIVERS_16550A
	depends on RTAI_SKIN_NATIVE
	bool "16650A UART driver"
	default n
	help
	16650A UART driver.

endmenu

source "sim/Kconfig"
