mainmenu "RTAI/x86 configuration"

config MODULES
	bool
	default y

config RTAI_VERSION
	string
	default "O.5 (fusion)"

menu "General"

config RTAI_INSTALLDIR
	string "Installation directory"
	default "/usr/realtime"

	help
	This option defines the directory where the various RTAI
	files will be installed on your target system.

	This directory may be changed if you double-click in the area
	named "Value". The default installation directory is
	/usr/realtime.

config RTAI_LINUXDIR
	string "Linux source tree"
	default "/usr/src/linux"
	help
	This variable contains the directory of your previously
	patched Linux kernel. As explained before, you can changed the
	value of the Linux source tree which is fixed by default to
	/usr/src/linux.

menu "RTAI Documentation"

config RTAI_DOC_DOX
	bool "Build RTAI Doxygen documentation (HTML)"
	default n
	help
	This option causes the Doxygen-based RTAI documentation to be
	built. This option is intended for people actually writing
	documentation and who want to update the pre-built manuals,
	regular users can just use the latter directly. You will need
	the Doxygen toolsuite for regenerating the documentation.

config RTAI_DOC_LATEX_NONSTOP
        bool "Enable LaTeX verbose output"
        default n
        help
        By default, all documentation generated with LaTeX uses the 
        silent (batchmode) of LaTeX. If this option is enabled, the 
        verbose (nonstopmode) of LaTeX will be used instead. This 
        option is mainly intended for people writing RTAI 
        documentation.

config RTAI_DOC_DBX
	bool "Build DocBook XML documentation (HTML/PDF)"
	default n
	help
	This option causes the DocBook XML based RTAI documentation to be
	built. This option is intended for people actually writing
	documentation and who want to update the pre-built manuals,
	regular users can just use the latter directly.

config RTAI_DBX_NET
        bool "Let the DocBook XML tools use network"
	depends on RTAI_DOC_DBX
        default n
        help
        Let the DocBook tools use internet to fetch the DTD and XSL stylesheets.
        If disabled, the documentation generation will fail if the necessary 
        DTD(s) and XSL stylesheets can not be found on the local computer.

config RTAI_DBX_ROOT
        string "Docbook XML root"
	depends on RTAI_DOC_DBX
        default ""
        help
        Specify the DocBook XML root (that is, the directory where docbook.dtd
        should be taken). Leave blank to let configure try the "well-known"
        locations.

config RTAI_DBX_XSL_ROOT
        string "Docbook XML XSL stylesheet root"
	depends on RTAI_DOC_DBX
        default ""
        help
        Specify the DocBook XML XSL root. Leave blank to let configure try the
        "well-known" locations.

endmenu

config RTAI_OPT_EXPERT
	bool "Enable expert configuration mode"
	default n
	help
	Enables expert configuration mode.

config RTAI_OPT_KSYMS
	bool "Enable debug symbols in modules"
	depends on RTAI_OPT_EXPERT
	default n
	help
	This options adds the -g flag when compiling
	kernel modules.

config RTAI_OPT_USYMS
	bool "Enable debug symbols in user-space programs"
	depends on RTAI_OPT_EXPERT
	default n
	help

	This options adds the -g flag when compiling user-space
	programs. LXRT inlining is also implicitely disabled.

config RTAI_MAINT
	bool "Enable maintainer mode"
	depends on RTAI_OPT_EXPERT
	default n
	help

	This option will activate the '--enable-maintainer-mode'
	option in the configure scripts. For more information, refer
	to the autoconf documentation:
	http://sources.redhat.com/autobook/autobook/autobook_26.html#SEC26

config RTAI_MAINT_AUTOTOOLS
	bool "Enable Autoconf/Automake maintainer mode"
	depends on RTAI_MAINT
	default n

choice
	optional
	prompt "Private maintainer profiles"
	depends on RTAI_MAINT

config RTAI_MAINT_NONE
	bool "Use standard settings"

config RTAI_MAINT_PMA
	bool "Use settings from mantegazza()aero!polimi!it"

config RTAI_MAINT_PGM
	bool "Use settings for rpm()xenomai!org"

endchoice

endmenu

menu "Machine (x86)"

config RTAI_HW_FPU
	bool "Enable FPU support"
	default y
	help
	The FPU executes instructions from the processor's normal
	instruction stream. It can handle the types of high-precision
	floating-point processing operations commonly found in
	scientific, engineering, and business applications.  Enabling
	FPU support on a platform providing this hardware component
	may greatly improve performances.  You can obtain more
	information about Float-Point Unit on i386 platform on
	internet at the following URL:
	http://www.intel.com/design/intarch/techinfo/Pentium/fpu.htm

config RTAI_HW_NRCPUS
	string "Number of CPUs (SMP-only)"
	default 2
	help
	RTAI has native support for Symmetrical Multi-Processing
	machines. If it is your case, you may want to enter here the
	number of CPUs of your motherboard.

	PAY ATTENTION: the default value is 2.

config RTAI_HW_TIMER_LATENCY
	depends on RTAI_OPT_EXPERT
	string "Timer tuning latency (ns)"
	default 0
	help
	This parameter accounts for the time (in nanoseconds) needed
	to program the underlying time source in one-shot timing mode.
	This value will be used to reduce the scheduling jitter induced
	by the time needed to setup the timer for its next shot. A
	default value of 0 (recommended) will cause this value to be
	estimated by the nucleus at startup.
	Depending on whether CONFIG_X86_LOCAL_APIC is enabled or not
	in the kernel configuration RTAI is compiled
	against, CONFIG_RTAI_HW_TIMER_LATENCY will either refer to the
	local APIC or 8254 timer latency value.

config RTAI_HW_SCHED_LATENCY
	depends on RTAI_OPT_EXPERT
	string "Scheduling latency (ns)"
	default 0
	help
	Scheduling latency is the time between the termination of an
	interrupt handler and the execution of the first instruction
	of the real-time thread this handler resumes. A
	default value of 0 (recommended) will cause this value to be
	estimated by the nucleus at startup.

endmenu

menu "Skin support"

config RTAI_SKIN_NATIVE
	bool "RTAI API"
	default y
	help

	The native RTAI API.

config RTAI_OPT_NATIVE_REGISTRY
	bool "Registry support"
	depends on RTAI_SKIN_NATIVE
	default y
	help
	
	The registry is used to bind real-time objects created by the
	RTAI skin to a symbolic name, so that they can be further
	retrieved and shared by real-time applications regardless of
	their runtime space (i.e. kernel or user). Each named object
	occupies a registry slot.

config RTAI_OPT_NATIVE_REGISTRY_NRSLOTS
	string "Number of registry slots"
	depends on RTAI_OPT_NATIVE_REGISTRY
	default 512
	help
	
	This option sets the maximum number of real-time objects the
	registry can handle.

config RTAI_OPT_NATIVE_PIPE
	bool "Inter-domain pipe support"
	depends on RTAI_SKIN_NATIVE
	default y
	help
	
	Inter-domain pipes are bi-directional FIFO communication
	channels allowing data exchange between real-time tasks
	and regular user-space processes. Pipes natively preserve
	message boundaries, but can also be used in byte stream mode
	from kernel to user space.

config RTAI_OPT_NATIVE_PIPE_BUFSZ
	string "Bytes in buffer space"
	depends on RTAI_OPT_NATIVE_PIPE
	default 4096
	help
	
	This option sets the memory size available for buffering when
	the pipe is used in byte stream mode.

config RTAI_OPT_NATIVE_SEM
	bool "Counting semaphore support"
	depends on RTAI_SKIN_NATIVE
	default y
	help
	
	Counting semaphore support.

config RTAI_OPT_NATIVE_EVENT
	bool "Event flag support"
	depends on RTAI_SKIN_NATIVE
	default y
	help
	
	Event flag support.

config RTAI_OPT_NATIVE_MUTEX
	bool "Mutex support"
	depends on RTAI_SKIN_NATIVE
	default y if RTAI_OPT_NATIVE_COND=y
	help
	
	Mutex support.

config RTAI_OPT_NATIVE_COND
	bool "Condition variable support"
	depends on RTAI_SKIN_NATIVE
	enable RTAI_OPT_NATIVE_MUTEX
	help
	
	Condition variable support.

config RTAI_SKIN_POSIX
	bool "POSIX API"
	default y
	help

	A POSIX-compliant skin.

config RTAI_SKIN_PSOS
	bool "pSOS+ emulator"
	default y if RTAI_OPT_VM=y
	help

	This API skin emulates WindRiver's pSOS+ operating system.

config RTAI_SKIN_VXWORKS
	bool "VxWorks emulator"
	default y
	help

	This API skin emulates WindRiver's VxWorks operating system.

config RTAI_SKIN_VRTX
	bool "VRTX emulator"
	default y
	help

	This API skin emulates Mentor Graphics's VRTX operating
	system.

config RTAI_SKIN_UITRON
	bool "uITRON API"
	default y
	help

	This API skin emulates the uITRON API. 

config RTAI_OPT_VM
	bool "User-space VM support"
	default y
	help

	RTAI/vm technology allows applications based on legacy RTOS
	APIs to run inside virtual machines in user-space
	with hard real-time capabilities.
	If activated, this option will cause in-kernel emulators
	which have been selected in the current menu to be
	compiled as process-embeddable virtual machines too.

endmenu

config RTAI_OPT_DEBUG
	bool "Nucleus debug support"
	depends on RTAI_OPT_EXPERT
	default n
	help
	
	This option activates runtime checking of the Xenomai
	nucleus state.

source sim/Kconfig
